body {
  list-style:none;
  text-decoration:none;
}

p {
  margin-left: 15px;
}

a:link {
  text-decoration:none;
}

h2 {
  padding: 12px;
}

h7 {
  color:#7C7A7A;
}

a.navbar-brand {
  margin-left: 2.0rem !important
}

a.navbar-brand-1 {
  padding: 0.6rem !important
}

ul.navbar-nav {
  position: absolute;
  right: 0px;
}

.lineline {
  border-bottom-style:dashed;
}


.img.img {
    opacity:0.8;
}

.img.img:hover {
  opacity:1.0;
  overflow: hidden;
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
  -webkit-transition:all 0.8s ease;
  -moz-transition:all 0.8s ease;
  -o-transition:all 0.8s ease;
  transition:all 0.8s ease;
}

.img-fluid:hover {
    overflow: hidden;
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
    -webkit-transition:all 0.8s ease;
    -moz-transition:all 0.8s ease;
    -o-transition:all 0.8s ease;
    transition:all 0.8s ease;
}

/*视频挂载*/

.iframe_video {

position: relative;

padding-bottom: 25px;

width: 100%!important;

}





@media only screen and (max-width: 767px) {

.iframe_video {

height: 15em;

}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

.iframe_video {

height: 15em;

}

}

 @media only screen and (min-width: 992px) and (max-width: 1199px) {

.iframe_video {

height: 15em;

}

}

@media only screen and (min-width: 1200px) {

.iframe_video {

height: 15em;

}

}



.iframe_cross {

position: relative;

width: 100%;

height: 100%;

height: 0;

padding-bottom: 75%

}

.iframe_cross iframe {

position: absolute;

width: 100%;

height: 100%;

left: 0;

top: 0

}

.footertop {
  text-align:center;
  /* border-top-style:solid; */
  border-top-color:#E8E9EB;
  background-color:#E8E9EB;
}


.footerbot {
    border-top-style:solid;
    border-top-color:#F4F4F8;
    background-color:#E8E9EB;
    text-align: center;
}
